@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
body {
  font-family: helvetica;
  text-align:center;
  margin:0;
}

#container {
  z-index:-2;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 20em;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 0;
  transform: scale(1, 2.3);
  -webkit-transform: scale(1, 2.3);
  -moz-transform: scale(1, 2.3);
  -o-transform: scale(1, 2.3);
  position: absolute;
  top: 1.05em;
  z-index: 1;
  color: #FFF;

}

video {
  overflow: hidden;
}

#social-media{
  position: absolute;
  margin-left: auto;
  bottom: 0;
  padding: 5px;
  z-index: 10;
}

#alert{
  position: absolute;
  z-index: -1;
  text-align: center;
  color: blue;
  left:50%;
  font-size: 5em;
}

canvas {
  opacity:0;
}
/*#twitter-widget-0 {
  position: absolute;
  bottom: 0;
  padding: 5px;
  z-index: 10;
}

#facebook-widget{
  position: absolute;
  bottom: 0;
  left:160px;
  padding: 5px;
  z-index: 10;
}*/


